<%include layout %>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body class="option animated slideInUp">
  <%include navigation %>
  <h1 style="font-family:Merriweather;color: red;text-align:center " class="option animated rollIn">CHARACTERISTICS OF 4NYA RIBOSWITCH</h1>
  <div class="container" style="padding-top:20px" >
<ui style="font-size:25px;font-family:Merriweather;color:#333333">
<li>  It indicates the number of Adenine, Guanine, Thymine and Cytosine.<li> It gives the GC Count for the given Riboswitch strand.
<li>The GC Count is usually directly proportional to the triggering or unravelling of the mRNA<li>
A group of three DNA Nucleotides combine to form a Codon.<li>
Of the 64 codons, 61 represent amino acids, and three are stop signals.<li> For example, the codon CAG represents the amino acid glutamine, and TAA is a stop codon.
</ui>
</div>
<div class="container" style="padding-top:20px">
<ui style='font-size:25px;font-family:Merriweather;color:#333333'>
  <li>GC Value is 0.538461538462 and it is an IUPACUnambiguousDNA() strand.</ui>
</div>
<div class="container" style="padding-top:20px">
  <ui style="font-size:25px;font-family:Merriweather;color:#333333" >
  <li>The strand is GACUCGGGGUGCCCUUCUGCGUGAAGGCUGAGAAAUACCCGUAUCACCUGAUCUGGAUAAUGCCAGCGUAGGGAAGUU
</ui>
</div>
<div class="container" style="padding-top:20px" class="option animated slideInUp">
  <ui style="font-size:25px;font-family:Merriweather;color:#333333" >
  <li>The number of codons is 26.<li>Their composition is
  A 18  G 24 T 18 C 18</ui>
</div>
</body>
</html>
