
<%include layout %>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<style type="text/css">
.hh:hover{
  width: 101%;
  height: 101%;
}
</style>
</head>
<body class="option animated slideInUp">
  <%include navigation %>
   <h1 style="font-family:Merriweather;color: red;text-align:center" class="option animated rollIn">RIBOSWITCHES</h1>
   <div class="container" style="padding-top:25px;">
  <p style="font-size:25px;font-family:Merriweather;color:#333333;text-align: justify;" class="option animated slideInUp">In molecular biology, a riboswitch is a regulatory segment of a messenger RNA molecule that binds a small molecule, resulting in a change in production of the proteins encoded by the mRNA.</p>
  <p style="font-size:25px;font-family:Merriweather;color:#333333;text-align: justify;" class="option animated slideInUp"> Thus, a mRNA that contains a riboswitch is directly involved in regulating its own activity, in response to the concentrations of its effector molecule. <br>The discovery that modern organisms use RNA to bind small molecules, and discriminate against closely related analogs, expanded the known natural capabilities of RNA beyond its ability to code for proteins, catalyze reactions, or to bind other RNA or protein macromolecules.</p>
</div>
<div class="container">
<img class="hh" src="images/ribo.jpg" >.                                                             .
<img class="hh" src="images/ribo2.png" height=450px width=450px  >
</p>
</div>
</body>
</html>
