<%include layout %>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<style type="text/css">
.hh:hover{
  width: 100.05%;
  height: 100.05%;
}
</style>
</head>
<body class="option animated slideInUp">
  <%include navigation %>
  <h1 style="font-family:Merriweather;color: red;text-align:center" class="option animated rollIn">PROTEIN</h1>
  <p style="font-size:25px;font-family:Merriweather;color:#333333" class="option animated slideInUp" >
  Proteins are large biomolecules, or macromolecules, consisting of one or more long chains of amino acid residues.<br> Proteins perform a vast array of functions within organisms, including catalysing metabolic reactions, DNA replication, responding to stimuli, and transporting molecules from one location to another. <br>Proteins differ from one another primarily in their sequence of amino acids, which is dictated by the nucleotide sequence of their genes, and which usually results in protein folding into a specific three-dimensional structure that determines its activity.<br>
  <img class="hh" style="padding-left:400px" src="images/protein.jpg" ><br>
  A linear chain of amino acid residues is called a polypeptide. A protein contains at least one long polypeptide. <br>Short polypeptides, containing less than 20–30 residues, are rarely considered to be proteins and are commonly called peptides, or sometimes oligopeptides.<br> The individual amino acid residues are bonded together by peptide bonds and adjacent amino acid residues.
</p>

</body>
</html>
