<%include layout %>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body class="option animated slideInUp">
  <%include navigation %>
  <h1 style="font-family:Merriweather;color: red;text-align:center" class="option animated rollIn">TRANSCRIPTION</h1>
  <div class="container" style="padding-top:20px">
  <ul style="font-size:25px;font-family:Merriweather;color:#333333" class="option animated slideInUp">
<li>The TPP riboswitch, also known as the THI element and Thi-box riboswitch, is a highly conserved RNA secondary structure.<li> It serves as a riboswitch  that binds directly to thiamine pyrophosphate (TPP) to regulate gene expression through a variety of mechanisms in archaea, bacteria and eukaryotes.<li> TPP is the active form of thiamine (vitamin B1), an essential coenzyme synthesised by coupling of pyrimidine and thiazole moieties in bacteria.<li> The THI element is an extension of a previously detected thiamin-regulatory element, the thi box, there is considerable variability in the predicted length and structures of the additional and facultative stem loops represented in dark blue in the secondary structure diagram .<li>Analysis of operon structures has identified a large number of new candidate thiamin-regulated genes, mostly transporters, in various prokaryotic organisms.<li> The x-ray crystal structure of the TPP riboswitch aptamer has been solved.
</ul>
</div>
</body>
</html>
