<%include layout %>

<body class="option animated slideInUp">
  <%include navigation %>
  <h1 style="font-family:Merriweather;color: red;text-align:center" class="option animated rollIn">TRANSLATION</h1>
  <div style="display:inline">
  <iframe style="align:left" width="760" height="415" src="https://www.youtube.com/embed/smNbETCHedE" frameborder="0" allowfullscreen></iframe>
</div>
.                         .
 <iframe width="760" style="align:right" height="415" src="https://www.youtube.com/embed/xdTlfj5qFrE" frameborder="0" allowfullscreen></iframe>
  <ul  style="font-size:25px;font-family:Merriweather;color:#333333" class="option animated slideInUp">
  <li>Riboswitches are often conceptually divided into two parts: an aptamer and an expression platform. The aptamer directly binds the small molecule, and the expression platform undergoes structural changes in response to the changes in the aptamer. The expression platform is what regulates gene expression.

<li>Expression platforms typically turn off gene expression in response to the small molecule, but some turn it on. The following riboswitch mechanisms have been experimentally demonstrated.<br>

<li>Riboswitch-controlled formation of rho-independent transcription termination hairpins leads to premature transcription termination.<br>
<li>Riboswitch-mediated folding sequesters the ribosome-binding site, thereby inhibiting translation.<br>
<li>The riboswitch is a ribozyme that cleaves itself in the presence of sufficient concentrations of its metabolite.<br>
<li>Riboswitch alternate structures affect the splicing of the pre-mRNA.<br>
<li>A TPP riboswitch in Neurospora crassa (a fungus) controls alternative splicing to conditionally produce an Upstream Open Reading Frame (uORF), thereby affecting the expression of downstream genes.<br>
<li>A TPP riboswitch in plants modifies splicing and alternative 3'-end processing.</li>
</ul>

</body>
</html>
